<%= @events.inspect %>
<%- @events.each do |index, e| -%>
  <%- e.each do |event| -%>
    <p>
      <%= event.created_at.strftime('%H:00') %>
    </p>
    <p>
      <%= event.event_type.name %>
    </p>
  <%- end -%>
<%- end -%>
<hr>
<%= Event.count_events(@events).inspect -%>